<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="{{ site.data.global.url }}/assets/css/main.css" />
			{% include ganalytics.html %}
			<meta name="description" content="{{ site.description }}">
			<!-- <link rel="author" href="https://plus.google.com/u/0/109967318699885720571"/> DANGER BRING IT BACK-->
			<!-- Anand Code, to be deleted -->
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-5DQ9VSH');</script>
		<!-- End Google Tag Manager -->

		<!-- Additionally, paste this code immediately after the opening <body> tag: -->
 
		</head>
		<body>
		<!-- Anand Code -->
	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DQ9VSH"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

			<nav id="nav">
				<ul class="container">
					<li><a href="{{ site.data.global.url }}/index.html#home">Home</a></li>
					<li><a href="{{ site.data.global.url }}/index.html#work">Work</a></li>
					<li><a href="{{ site.data.global.url }}/index.html#projects">Projects</a></li>
					<li><a href="{{ site.data.global.url }}/index.html#portfolio">Portfolio</a></li>
					<li><a href="{{ site.data.global.url }}/index.html#contact">Contact</a></li>
				</ul>
			</nav>
			<!-- Content to be contained in blog -->
			<div class="container">
				{{ content }}
				<br>
				{% include footer.html %}
			</div>
		</body>
	</html>