<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="{{ site.data.global.url }}/assets/css/main.css" />
			{% include ganalytics.html %}
			<meta name="description" content="{{ site.description }}">
			<link rel="author" href="https://plus.google.com/u/0/109967318699885720571"/> 
 
		</head>
		<body>
			<nav id="nav">
				<ul class="container">
					<li><a href="{{ site.data.global.url }}/index.html#home">Home</a></li>
					<li><a href="{{ site.data.global.url }}/index.html#work">Work</a></li>
					<li><a href="{{ site.data.global.url }}/index.html#projects">Projects</a></li>
					<li><a href="{{ site.data.global.url }}/index.html#portfolio">Portfolio</a></li>
					<li><a href="{{ site.data.global.url }}/index.html#contact">Contact</a></li>
				</ul>
			</nav>
			<!-- Content to be contained in blog -->
			<div class="container">
				{{ content }}
				<br>
				{% include footer.html %}
			</div>
		</body>
	</html>